

.encabezadoIzquierdo{
    padding: 12px;
}

.encabezadoDerecho{
  padding: 12px;
  text-align:center;
}

.izquierdo {
    padding: 12px;
}
.izquierdo .container{
    padding: 12px;
}

.centro{
    padding: 12px;
}

.centro .container{
    
    padding-top: 12px;
}
.centro .col{
    
    padding-top: 24px;
}
.derecho{
    
    padding-top: 12px;
}

.piePagina{
  padding-top: 15px;
  text-align: center;
}

.textoPiePagina{
  font-size: 0.8rem;
}